include ../mixins.html.jade
include mixins/all.html.jade

doctype html
html
	head
		include ../head.html.jade
	
	body

		#wrap

			// Navigation
			include ../menu.html.jade
			
			// Secondary
			section#secondary
				.jumbotron
					.container
						.row
							.col-md-12
								h1 Administration 
									span.less company.co
						.row
							.col-md-12
								ul.nav.nav-tabs
									+tab('Default menu', '/', '2')
									+tab('Search', '/search', '').active
									+tab('Available positions', '/positions', '4')

			// Crumble
			section#crumble
				.container
					.row
						.col-md-12
							ol.breadcrumb
								+crumble('Home', '/')
								+crumble('Search', '/search')
								+crumble('Results', '/search/results')
								+crumble('Jake Pearson').active

			// Search
			section#search
				.container
					.row
						.col-md-12
							form.form-inline(role="form")
								.row
									.col-md-3
										label.control-label.pull-right(for="searchbox") Search candidates
									.col-md-5
										center(style="margin-top:7px;")
											- if (queries.length > 0)
												- each query in queries
													- if (query !== '')
														span.label.label-default
															= query
															i.fa.fa-times
									.col-md-2
										.btn-group
											button.btn.btn-default
												i.fa.fa-list
											button.btn.btn-default.disabled
												i.fa.fa-user
							hr

			// Person
			section#head
				.container
					.row
						.col-md-1.col-md-offset-1
							img(src="http://disqus.com/api/users/avatars/jeroen.jpg", width="75", height="75", style="border-radius:50%")
						.col-md-4
							h3(style="margin:15px 0 0 0") Peter Anderson
							span(style="color:#AAA") A new idea
					hr
					.row
						.col-md-7.col-md-offset-1
							.row
								.col-md-12
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed justo ac tellus vestibulum consectetur id a nulla. Integer rutrum dignissim mollis. Aliquam tempor euismod porta. Praesent vitae ultrices sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Nunc risus lacus, aliquet eu libero ac, egestas laoreet massa.
									br
									p.muted
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed justo ac tellus vestibulum consectetur id a nulla. Integer rutrum dignissim mollis. Aliquam tempor euismod porta. Praesent vitae ultrices sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Nunc risus lacus, aliquet eu libero ac, egestas laoreet massa.
						.col-md-3.col-md-offset-1.noprint
							.well.social
								+social('LinkedIn', 'http://linkedin.com')
								+social('Facebook', 'http://facebook.com')
								+social('Twitter', 'http://twitter.com')
							.well.attachments
								+attachment('c_vitae.pdf', '')
								+attachment('portfolio.pdf', '')




		// Footer
		include ../footer.html.jade