/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#tinyeditor {
  border: none;
  margin: 0;
  padding: 0;
  font: 14px 'Arial', Verdana;
}
.tinyeditor {
  border: solid 1px #CCC;
  padding: 0;
  font: 12px Verdana,Arial;
  border-radius: 4px;
  overflow: hidden;
}
.tinyeditor iframe {
  border: none;
  overflow-x: hidden;
}
.tinyeditor-header {
  height: 31px;
  border-bottom: 1px solid #bbb;
  background: url(../images/header-bg.gif) repeat-x;
}
.tinyeditor-header select {
  float: left;
  margin-top: 5px;
}
.tinyeditor-font {
  margin-left: 12px;
}
.tinyeditor-size {
  margin: 0 3px;
}
.tinyeditor-style {
  margin-right: 12px;
}
.tinyeditor-divider {
  float: left;
  width: 1px;
  height: 30px;
  background: #cccccc;
}
.tinyeditor-control {
  float: left;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background-image: url(../images/icons.png);
}
.tinyeditor-control:hover {
  background-color: #fff;
  background-position: 30px 0;
}
.tinyeditor-footer {
  height: 32px;
  border-top: 1px solid #bbb;
  background: #f5f5f5;
}
.toggle {
  float: left;
  background: url(../images/icons.png) -34px 2px no-repeat;
  padding: 9px 13px 0 31px;
  height: 23px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  color: #666666;
}
.toggle:hover {
  background-color: #ffffff;
}
.resize {
  float: right;
  height: 32px;
  width: 32px;
  background: url(../images/resize.gif) 15px 15px no-repeat;
  cursor: s-resize;
}
#editor {
  cursor: text;
  padding: 15px;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400!important;
  font-size: 2rem!important;
  margin: 35px 0!important;
  color: #444!important;
}
h1 .less {
  font-weight: 100!important;
  color: #999;
}
h2 {
  font-family: "museo-sans", sans-serif;
  font-weight: 200;
  color: #666;
}
a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.pager {
  display: block;
  height: 100%;
  font-size: 2rem;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.modal-header {
  border: none;
}
.success {
  color: #5cb85c;
}
label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  line-height: 2em;
}
section.wide {
  padding: 30px 0;
}
section.wide p {
  text-align: justify;
}
.alert {
  margin-bottom: 0;
}
.badge {
  margin-left: 10px;
  background-color: #EEE;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 2px;
}
.navbar {
  margin: 0;
}
.navbar .btn-group {
  margin: 20px 0 0 10px;
}
.navbar .btn-group .btn i {
  margin-right: 10px;
}
.nav-pills li.active a {
  background: #EEE;
  color: #666;
}
.nav-pills li.active a:hover {
  background: #EEE;
  color: #666;
}
.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
.right {
  margin-top: 20px;
}
.jumbotron {
  background-size: cover;
  padding: 10px 0 0 0;
}
.form-horizontal label.control-label {
  padding-top: 0;
}
.form-group p.info {
  text-align: right;
  color: #AAA;
  font-size: .9em;
  clear: both;
  padding-top: 10px;
  padding-left: 20px;
}
label {
  font-size: 1.2rem;
  line-height: 30px;
}
form {
  margin: 20px 0 40px 0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"],
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-signin .help-block {
  color: #FF0000;
  font-size: .7em;
}
#droparea {
  border: dashed 2px #CCC;
  min-height: 100px;
  border-radius: 4px;
  vertical-align: middle;
  padding: 10px;
}
.btn-group.facebook a {
  background-color: #3b5998;
  border-color: #2e487f;
}
.btn-group.facebook a:hover {
  background-color: #2e487f;
  border-color: #233a6a;
}
.label {
  font-size: 100%;
  margin-right: 5px;
  font-weight: inherit;
  padding: .4em .6em .4em;
}
.label i.fa {
  margin-left: 8px;
}
.label.label-default {
  background: #CCC;
}
.table tr:last-child {
  border-bottom: 1px solid #CCC;
}
.tt-dropdown-menu {
  width: 100%;
  border: solid 1px #CCC;
  margin-top: 5px;
  border-radius: 3px;
  background: #FFF;
}
.tt-dropdown-menu .tt-header {
  margin: 8px 15px 0 15px;
  display: block;
  color: #BBB;
}
.tt-dropdown-menu .tt-suggestions {
  background: #FFF;
  overflow: hidden;
  margin-top: 5px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion {
  padding: 2px 15px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion p {
  line-height: 1em;
  margin: 6px 0;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 5px 0;
}
.tt-dropdown-menu .tt-suggestions .tt-is-under-cursor {
  background: #EFEFEF;
  color: #FFF;
}
.steps {
  display: block;
}
.steps li {
  margin-right: 25px;
}
.steps li i {
  display: block;
  line-height: 42px;
  color: #999;
}
.checkbox {
  margin: 0;
}
.checkbox input {
  margin-top: 8px;
}
#map {
  height: 300px;
}
.well {
  background: #EEE;
  box-shadow: none;
  border: none;
}
.well .row {
  margin-top: 5px;
}
i.fa-linkedin {
  color: #0181B2;
}
i.fa-twitter {
  color: #33CCFF;
}
i.fa-facebook {
  color: #3B5998;
}
footer {
  background-color: #333;
  padding: 30px;
}
footer span {
  color: white;
}
#graph {
  background: whiteSmoke;
  border-radius: 4px;
  padding: 5px 8px;
  height: 90px;
}
#dashboard .item {
  background: #EFEFEF;
  position: relative;
  border-radius: 4px;
  padding: 20px;
  margin-left: 16px;
}
#dashboard .item i {
  color: #999;
  display: block;
  text-align: center;
}
#dashboard .item span:not(.badge) {
  font-size: 13px;
  display: block;
  text-align: center;
  margin-top: 10px;
}
#dashboard .item .badge {
  position: absolute;
  top: 15px;
  right: 20px;
  background: red;
  font-size: 10px;
  border: solid #EFEFEF 2px;
}
.muted {
  opacity: 0.7;
}
@media print {
  #secondary,
  #crumble,
  .noprint,
  .modal {
    display: none;
  }
  .printonly {
    display: block;
  }
  a[href] {
    text-decoration: none;
  }
  a[href]:after {
    display: none;
  }
  body {
    padding: 0 50px;
  }
}
